    <%- include('partes/inicioHead') %>

    <title>ERRO</title>
    <link rel="stylesheet" href="sweetalert2/dist/sweetalert2.min.css">
    </head>
    <body>
        <%- include('partes/menuNavecacao') %>
        <h3> <%= mensagemErro %> </h3>
        
        <form action=<%= voltarLink %>>
            <button type="submit">Voltar</button>
        </form>
    </body>
    <%- include('partes/footer') %>