<%- include('partes/inicioHead') %>
<%- include('partes/menuNavecacao') %>
<link rel="stylesheet" href="/css/styleInicial.css">
<main class="conteudo">
  <div class="slideshow-container">
    <div class="slide01">
      <img src="images/inicio/testeslide01.jpg" style="width:100%;height:700px;">
    </div>
  
    <div class="slide01">
      <img src="images/inicio/testeslide02.jpg" style="width:100%;height:700px;">
    </div>
  
    <div class="slide01">
      <img src="images/inicio/testeslide03.jpg" style="width:100%;height:700px;">
    </div>
    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
  </div>
  <div id="dotCenter" style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
  </div>
  </div>
  
  <div>
    <p id="tituloCursoRecomendado">Recomendado</p>
</div>
  <br>
  <div id="informacaoCursoRecomendado">
  <img src="images/inicio/imgCursoRecomendado.png" alt="" id="imgCursoRecomendadoTamanho"style="width: 400px;height: 300px;">
  <div id="sobreCursoRecomendado">
    <p class="textoSobreCursoRecomendado"style="font-size: 2ch;">Informaçoes</p>
<p class="textoSobreCursoRecomendado"> curso técnico em Informática para internet prepara profissionais para a utilização de ferramentas responsáveis pelo desenvolvimento de sistemas de soluções que ajudam no auxílio e processo de criação de interfaces e aplicativos, usando os parâmetros de acessibilidade e usabilidade na interação do usuário da internet.</p>
<div class="text-box">
  <a href="#" class="btn btn-white btn-animate">Ver mais</a>
</div>
</div>
</div>
<%- include('partes/menuCursos') %>
<br>
<%- include('partes/parteEventos') %>
<br>
 <script>
  var slideIndex = [1,1];
  var slideId = ["slide01"]
  showSlides(1, 0);
  showSlides(1, 1);
  
  function plusSlides(n, no) {
    showSlides(slideIndex[no] += n, no);
  }
  
  function showSlides(n, no) {
    var i;
    var x = document.getElementsByClassName(slideId[no]);
    var dots = document.getElementsByClassName("dot");
    if (n > x.length) {slideIndex[no] = 1}    
    if (n < 1) {slideIndex[no] = x.length}
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }

    for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }

    x[slideIndex[no]-1].style.display = "block"; 
    
  }
  </script>
    </main>
    <%- include('partes/footer') %>
</head>
</html>