<%- include('partes/inicioHead') %>
</head>
<body>

<%- include('partes/menuNavecacao') %>
  <main class="conteudo">
    <h1 id="title">Cursos</h1>
    <h2>Todos os Cursos</h2>
    <hr>        
    <section name="cursosTodos" class="curBox" id="moveTodo" ontouchstart="dragBox()">
      <!-- CURSOS -->
      <% cursos.forEach(curso => { %>
        <article class="curContainer" id="cur_harm_facial"> 
          <div class="curImg">
              <img 
                src="<%= curso.img %> "
                alt="Harmonização Facial" 
              >
          </div>
          <div class="curInfo">
              <a onclick="toFrame('#cur_harm_facial', '#title_harm_facial')">
                  <p class="curNome" id="title_harm_facial" >
                    <%= curso.name %>
                  </p>
                  <p>
                    <%= curso.description %>
                  </p>
              </a>
              <p class="curCarga" >
                Carga Horária:&nbsp;
                <strong>
                  <%= curso.ch %>
                </strong>
              </p>
              <p class="curTutor">
                Professor(a):&nbsp;
                  <strong>
                    <%= curso.tutor %>
                  </strong>
              </p>
              <p class="curVal">
                Valor::&nbsp;
                  <strong>
                    <%= curso.value %>
                  </strong> 
              </p>
          </div>
      </article>
      <% }) %>
      
    
    </section>

  <!-- FRAME COM INFORMAÇÕES DO CURSO -->

  </main>
    <%- include('partes/footer') %>
</body>
</html>